

.accent_text_color {
    color: var(--ui-color-accent);
}

.primary_text_color {
    color: var(--ui-color-primary);
}


.text_color_primary {
    color: #00C0FF;
}
.text_bold {
    font-weight: bold;
}