/*html {*/
/*  overflow-x: hidden;*/
/*  width:100vw;*/
/*}*/

body {
  margin: 0;
  font-family: Nunito, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /*width:100vw;*/
}

/*code {*/
/*  !*font-family: 'Nunito', 'Dosis', 'Courier New', monospace;*!*/
/*    font-family: Nunito, serif;*/
/*    font-style: normal;*/
/*}*/

/*p {*/
/*    font-family: Nunito, serif;*/
/*    font-style: normal;*/
/*}*/
